body {

     background-image: url('unicorn.jpg');
     background-size: cover;
     background-repeat: no-repeat;
     height: 100%;
}

form {

     background-color: white;
     padding: 20px;
     border: 1px solid black;
     position: fixed;
     top: 80%;
     left: 50%;
     transform: translate(-50%, -80%);
     float: left;
}

#textarea-container {
     float:right;
}
#inputs-container {
     float: left;
     width: 145px;

}

#wrapper{
    width:300px;
}

input[type=text] {
     width: 100%;
}


input, textarea {

     display: block;

}

textarea {
     height: 100px;
     width: 140px;
}


#submit {
     width:275px;
     padding: 6px 14px 5px !important;
     font-size: 12px !important;
     background-color: #5B2A85;
     font-weight: bold;
     text-shadow: 1px 1px #5A2632;
     color: #ffffff;
     border-radius: 100px;
     -moz-border-radius: 100px;
     -webkit-border-radius: 100px;
     cursor: pointer;
     box-shadow: 0 1px 0 rgba(255, 255, 255, 0.5) inset;
     -moz-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.5) inset;
     -webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.5) inset;
     border: none;
}

#submit:active {
     width:275px;
     padding: 6px 14px 5px !important;
     font-size: 12px !important;
     background-color: #5A2632;
     font-weight: bold;
     text-shadow: 1px 1px #5B2A85;
     color: #ffffff;
     border-radius: 100px;
     -moz-border-radius: 100px;
     -webkit-border-radius: 100px;
     cursor: pointer;
     box-shadow: 0 1px 0 rgba(255, 255, 255, 0.5) inset;
     -moz-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.5) inset;
     -webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.5) inset;
}

#submit:hover {
background:#fff;
color: #000;
text-shadow:none;
border: 1px solid black;
}

.show_hide {
  padding: 6px 14px 5px !important;
  font-size: 12px !important;
  background-color: #5B2A85;
  font-weight: bold;
  text-shadow: 1px 1px #5A2632;
  color: #ffffff;
  border-radius: 100px;
  -moz-border-radius: 100px;
  -webkit-border-radius: 100px;
  cursor: pointer;
  box-shadow: 0 1px 0 rgba(255, 255, 255, 0.5) inset;
  -moz-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.5) inset;
  -webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.5) inset;
  border: none;
}

.show_hide:active {

  padding: 6px 14px 5px !important;
  font-size: 12px !important;
  background-color: #5A2632;
  font-weight: bold;
  text-shadow: 1px 1px #5B2A85;
  color: #ffffff;
  border-radius: 100px;
  -moz-border-radius: 100px;
  -webkit-border-radius: 100px;
  cursor: pointer;
  box-shadow: 0 1px 0 rgba(255, 255, 255, 0.5) inset;
  -moz-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.5) inset;
  -webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.5) inset;

}

.slidingDiv {
    height:100%;
    width: 15%;
    background-color: #5A2632;
    margin-top:10px;
}

ul {
    list-style-type: none;
}
