body {

     background-image: url('../images/unicorn.jpg');
     background-size: cover;
     background-repeat: no-repeat;
     height: 100%;
}

form {

     background-color: white;
     padding: 20px;
     border: 1px solid black;
     position: relative;
     top: 80%;
     left: 50%;
     transform: translate(-50%, -80%);
     float: left;
}

#textarea-container {
     float:right;
}
#inputs-container {
     float: left;
     width: 145px;

}

#wrapper{
    width:300px;
}

input[type=text] {
     width: 100%;
}


input, textarea {

     display: block;

}

textarea {
     height: 100px;
     width: 140px;
}


#submit {
     width:275px;
     padding: 6px 14px 5px !important;
     font-size: 12px !important;
     background-color: #5B2A85;
     font-weight: bold;
     text-shadow: 1px 1px #5A2632;
     color: #ffffff;
     border-radius: 100px;
     -moz-border-radius: 100px;
     -webkit-border-radius: 100px;
     cursor: pointer;
     box-shadow: 0 1px 0 rgba(255, 255, 255, 0.5) inset;
     -moz-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.5) inset;
     -webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.5) inset;
     border: none;
}

#submit:active {
     width:275px;
     padding: 6px 14px 5px !important;
     font-size: 12px !important;
     background-color: #5A2632;
     font-weight: bold;
     text-shadow: 1px 1px #5B2A85;
     color: #ffffff;
     border-radius: 100px;
     -moz-border-radius: 100px;
     -webkit-border-radius: 100px;
     cursor: pointer;
     box-shadow: 0 1px 0 rgba(255, 255, 255, 0.5) inset;
     -moz-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.5) inset;
     -webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.5) inset;
}

#submit:hover {
background:#fff;
color: #000;
text-shadow:none;
border: 1px solid black;
}

.show_hide {
  padding: 6px 14px 5px !important;
  font-size: 12px !important;
  background-color: #5B2A85;
  font-weight: bold;
  text-shadow: 1px 1px #5A2632;
  color: #ffffff;
  border-radius: 100px;
  -moz-border-radius: 100px;
  -webkit-border-radius: 100px;
  cursor: pointer;
  box-shadow: 0 1px 0 rgba(255, 255, 255, 0.5) inset;
  -moz-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.5) inset;
  -webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.5) inset;
  border: none;
}

.show_hide:active {

  padding: 6px 14px 5px !important;
  font-size: 12px !important;
  background-color: #5A2632;
  font-weight: bold;
  text-shadow: 1px 1px #5B2A85;
  color: #ffffff;
  border-radius: 100px;
  -moz-border-radius: 100px;
  -webkit-border-radius: 100px;
  cursor: pointer;
  box-shadow: 0 1px 0 rgba(255, 255, 255, 0.5) inset;
  -moz-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.5) inset;
  -webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.5) inset;

}

.slidingDiv {
    height:100%;
    width: 15%;
    background-color: #5A2632;
    margin-top:10px;
}

ul {
    list-style-type: none;
}

.gumroad-follow-form-embed {
  zoom: 1;
}

.gumroad-follow-form-embed:before,
.gumroad-follow-form-embed:after {
  display: table;
  line-height: 0;
  content: "";
}

.gumroad-follow-form-embed:after {
  clear: both;
}

.gumroad-follow-form-embed * {
  margin: 0;
  border: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box !important;
  float: left !important;
}

.gumroad-follow-form-embed input {
  border-radius: 4px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  font-family: -apple-system, ".SFNSDisplay-Regular", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 15px;
  line-height: 20px;
  background: #fff;
  border: 1px solid #ddd;
  border-right: 0;
  color: #aaa;
  padding: 10px;
  box-shadow: inset 0 1px 0 rgba(0, 0, 0, 0.02);
  background-position: top right;
  background-repeat: no-repeat;
  text-rendering: optimizeLegibility;
  font-smoothing: antialiased;
  -webkit-appearance: none;
  -moz-appearance: caret;
  width: 65% !important;
  height: 40px !important;
}

.gumroad-follow-form-embed button {
  border-radius: 4px;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.12);
  -webkit-transition: all .05s ease-in-out;
  transition: all .05s ease-in-out;
  display: inline-block;
  padding: 11px 15px 12px;
  cursor: pointer;
  color: #fff;
  font-size: 15px;
  line-height: 100%;
  font-family: -apple-system, ".SFNSDisplay-Regular", "Helvetica Neue", Helvetica, Arial, sans-serif;
  background: #000000;
  border: 1px solid #000000;
  filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#262626, endColorstr=#000000, GradientType=0)";
  background: -webkit-linear-gradient(top, #262626, #000000);
  background: linear-gradient(to bottom, #262626, #000000);
  height: 40px !important;
  width: 35% !important;
}
